.App {
  margin-top:-3.5%;
  text-align: center;
  font-family: 'Glacial Indifference';
  font-size:2.5vw;
  background-image:url("pico.jpg");
  height:120vw;
  clear:both;
}
h1{
  color:rgb(209, 40, 91);
  background-color:rgba(255, 255, 255, 0.603);
}
.info{
  border-radius:5px;
 
  box-shadow: 0 8px 6px -6px black;
  background-color:white;
  width:50%;
  margin-left:25%;
}
p{
  font-size: 2.3vw;
}
button{
  background-color: rgb(28, 182, 209); 
  border:none;
  color:white;
  padding: 1.5vw 3vw;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  margin:20px;
}

.animate{
  position: relative;
}
.ticket{
  margin-top:27.2px;
  position:absolute;
  top:35vw;
  left:25%;
  width:50%;
}
.aya{
  z-index:2;
  left:19vw;
  position:absolute;
  width:60vw;
  
  -webkit-transition: opacity 0.5s  ease-in-out;
       -moz-transition: opacity 0.5s  ease-in-out;
        -ms-transition: opacity 0.5s  ease-in-out;
         -o-transition: opacity 0.5s  ease-in-out;
            transition: opacity 0.5s  ease-in-out;
            opacity: 0;
}


