

.frame{
  position: relative;
  
}
.list{

position:absolute;
top:8vw;
right:24vw;
color:rgb(209, 40, 91);
text-shadow: -0.1vw 0 white, 0 0.1vw white, 0.1vw 0 white, 0 0.2vw white;

}
.icon{
  position:absolute;
  right:28vw;
  top:120%;
  width:10vw;
}
.transparent{
  position:absolute;
  top:-2vw;
  left:17vw;
  width:40vw;
}
.jname{
  
  font-size:2.1vw;
  font-family: 'Glacial Indifference';
  font-weight:bold;
  
}
.art{
  position:absolute;
  top:0;
  left:26%;
  width:44.9vw;
   
}
th, td {
  padding: 10px 3px;
  
  text-align: center;
  border-bottom: 1px solid black;
}
table {
  box-shadow:         8px 3px 5px 6px rgba(0, 0, 0, 0.452);
  font-family: "Glacial Indifference";
  color:white;
  border-collapse:collapse;
  position:relative;
  border-radius:10px;
  top:40vw;
  left:30vw;
  width:40vw;
  background-color:rgba(231, 87, 118, 0.932);
}



